on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: pr-check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix profile install nixpkgs#devenv
      - run: devenv shell just ci
