on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: pr-check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v16
      - uses: DeterminateSystems/magic-nix-cache-action@v9
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - run: nix develop --command just ci
